@import 'variables';

body {
  background-color: $color-body-background;
  background-image: url("https://s3.amazonaws.com/personalcrm/personalcrm_production/ben-kolde-470570-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input[type="text"] {
  color: #1D8A99;
  border: 0px;
  font-size: 1em;
  font-family: "poppins";
  font-weight: 300;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1)
}

h4 {
  font-family: "oswald";
  color: black;
  font-weight: 300;
}
h3 {
  font-family: "oswald";
  color: black;
  font-weight: 300;
  text-align:center;
}
h2 {
  font-family: "oswald";
  color: white;
  font-weight: 300;
}

h1 {
  text-shadow: 1px 1px $white;
}

p {
  font-family: "poppins";
  font-weight: 300;
  font-size: .9em;
}
.footer {
    font-family: "poppins";
    position: fixed;
    font-size: .8em;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}


.top-bar-section ul li a {
  font-family: "poppins";
  font-weight: 300;
  background-color: #26436B !important;
  font-size: .9em;
}
.top-bar-section:hover ul:hover li:hover a:hover {
  font-family: "poppins";
  font-weight: 300;
  background-color: #B66C35 !important;
}

.top-bar {
  background-color: #26436B;
  padding-right: 15px;
  h1 {
    font-style: italic;
  }
  img {
    height: 42px;
  }
  .sign-out {
    background-color: $color-body-background;
  }
}

.site-mission {
  color: $color-secondary;
  text-shadow: 1px 1px $white;
  margin: 0 0 15px;
  font-family: $font-primary;
}
.flash.panel.callout {
  background-color: $color-secondary;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.33em;
  font-family: "oswald";
  font-weight: 300;
}
.header-logo {
  font-size: 1.5em;
  font-family: "oswald";
  font-weight: 400;
  font-style: normal;
  color: white;
  padding-left: 30px;
  .conts {
    color: #7C77B9;
    font-size: 1em !important;
  }
}
